.card {
  text-align: center;
  border-radius: 1rem;
  height: 40rem;
  width: 100%;
}
.container {
  padding: 3rem;
  text-transform: uppercase;
}
img {
  height: 14rem;
  width: 14rem;
}
h1{
    padding-top: 2rem;
  padding-bottom: 3rem;
}
// Grid
@mixin grid($column) {
  width:(100% / 12) * $column;
  margin:0 auto;
}

// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
  -webkit-transition: $attr $time $curve;
  -moz-transition: $attr $time $curve;
  -o-transition: $attr $time $curve;
  -ms-transition: $attr $time $curve;
  transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {font-family: 'Lato', sans-serif; font-weight:100;}
@mixin lato-1-i {@include lato-1; font-style:italic;}

@mixin lato-3 {font-family: 'Lato', sans-serif; font-weight:300;}
@mixin lato-3-i {@include lato-3; font-style:italic;}

@mixin lato-4 {font-family: 'Lato', sans-serif; font-weight:400;}
@mixin lato-4-i {@include lato-4; font-style:italic;}

@mixin lato-7 {font-family: 'Lato', sans-serif; font-weight:700;}
@mixin lato-7-i {@include lato-7; font-style:italic;}

@mixin lato-9 {font-family: 'Lato', sans-serif; font-weight:900;}
@mixin lato-9-i {@include lato-9; font-style:italic;}


// Colors
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;

form {
    margin-left: 15rem !important;
    @include grid(7);

    .field {
        width:100%;
        position:relative;
        margin-bottom:15px;

        $hover-label-width:18%;
        $placeholder-bumper:1.5%;
        $label-padding:18px;

        // Label
        label {
            text-transform: uppercase;
            position:absolute;
            top:0;
            left:0;
            background:$blue;
            width:90%;
            padding:($label-padding + 0px) 0;
            font-size: 1.45em;
            letter-spacing: 0.075em;
            @include ease(333ms);
        }

        // Fields
        input[type="text"] {
            border:none;
            background:$field-color;
            width:100% - $hover-label-width - $placeholder-bumper;
            margin:0;
            padding:$label-padding 0;
            padding-left:$hover-label-width + $placeholder-bumper;
            color:$blue;
            font-size: 1.4em;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            // Focus and JS Toggle Class
            &:focus,
            &.focused {
                outline:none;
                + label {
                    width:$hover-label-width;
                    background:$orange;
                    color:$blue;
                }
            }
        }       
        &:hover {
            label {
                width:$hover-label-width;
                background:$blue;
                color:white;
            }
        }
    }
}
.radio1{
    float: left;
    margin-left: 14rem;
    
}

.radio2{
    margin-right: 13rem;
    
}
a{
    float: center;
}
.btn{
    width: 15rem;
  }
  #btn{
    padding-top: 2rem;
  }