<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand">Library Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="btn nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="btn nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./books">Books</a>
                </li>
                <!-- <li class="btn nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./bookorder">My Order</a>
                </li> -->
                <li class="btn nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./profile">Profile</a>
                </li>
                <li class="btn nav-item text-white" role="button">
                    <a class="nav-link text-white" (click)="logout()">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>