<footer id="dk-footer" class="dk-footer">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>
                        Copyright © 2022. All rights reserved | design by
                        <a href="https://www.google.com/search?gs_ssp=eJzj4tVP1zc0LCg3rkyzzLM0YLRSNagwTko1MElLMU8xTrQwSjNMszKoSElKTExLs0g0sLAwtExKTPISyS8oTs1LTlUoSU3OyMvPyU_PTC0GAG57GHs&q=opsence+technologies&rlz=1C1YTUH_enIN982IN982&oq=opse&aqs=chrome.2.69i60j0i512j46i175i199i512j69i60l2j69i61j69i60l2.2871j0j7&sourceid=chrome&ie=UTF-8"
                            style="color: white" target="_blank"> Opsence Technologies</a>
                    </span>
                </div>
            </div>
        </div>  
    </div>
</footer>