<div class="mainDiv">\
    <div class="card">
        <img src="https://s3-us-west-2.amazonaws.com/shipsy-public-assets/shipsy/SHIPSY_LOGO_BIRD_BLUE.png" id="logo">
        <form #changepasswordform="ngForm">
            <h2 class="title">
                Change Login Password
            </h2>
            <div class="inputDiv">
                <label class="label" for="password">New Password</label>
                <input type="password"  name="password" [ngModel]="user?.password" #password="ngModel" (ngModelChange)="user.password = $event"
                    [class.is-invalid]="password.invalid && password.touched" required>
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is
                        required
                        field</small>
            </div>
            <div class="inputDiv">
                <label class="label" for="confirmPassword">Confirm Password</label>
                <input type="password"  name="cpassword" (ngModel)="user?.password"  
                    #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && password.touched">
                <small class="text-danger" [class.d-none]="cpassword.value== password.value">password is
                    Incorrect
                    field</small>
            </div>         
            <div class="buttonWrapper">
                <button type="submit" (click)="changePassword()" class="submitButton pure-button pure-button-primary"
                    id="btn" [disabled]="changepasswordform.form.invalid">
                    <span>Change Password</span>
                </button>
                <a routerLink="../profile" class="submitButton pure-button pure-button-primary text-center">
                    <span>Back</span>
                </a>
            </div>

        </form>
    </div>
</div>