.mainDiv {
  display: flex;
  min-height: 100%;
  padding-top: 5rem;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.card {
  width: 500px;
  border-color: white;
  background: #fff;
  padding: 39px 0;
  border-radius: 4px;
  height: 40rem;
  box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
}

#logo {
  max-height: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}

.label {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}

.inputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}


.buttonWrapper {
  margin-top: 40px;
}

.submitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #065492;
  border-color: #065492;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#btn{
  margin-bottom: 0.5rem;
}